<h2>My Heroes</h2>
<ul class="heroes">

    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
    <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"> 
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
</ul>
<div>
    <label id="new-hero">Hero name: </label>
    <input for="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input-->
    <button class="add-button" (click)="add(heroName.value) ; heroName.value='' ">
        Add hero
    </button>
</div>

<!-- *ngFor Angular's repeater directive. repeats host element for each element in a list.
     li is the host
     heroes holds the mock heroes list from the HeroesComponent class, the mock heroes list
     hero holds the current hero object for each iteration through the list-->

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<!-- [hero]="selectedHero" is a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element, which maps to the hero property of the HeroDetailComponent.-->
     

<!--<div *ngIf="selectedHero">-->
    
<!--when selectedHero is undefined, the ngIf removes the hero detail from the DOM
When user picks a hero, selectedHero has a value and ngIf puts the hero detail in the DOM-->

<!--   <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero name:</label>
        <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>

</div>

<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>--> 
<!-- <div><span>name: </span>{{hero.name}}</div>*/ -->

<!--<div>
    <label for="name">Hero name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>-->
